.index {
  max-width: 100vw;
  min-height: 100vh;
  background-image: url("../../../public/assets/mobile/bg-pattern-header.svg");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  transition: background-color 0.5s linear;
  padding: 6rem 5vw;
  overflow-x: hidden;

  section {
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
  }
}

@media screen and (min-width: 700px) {
  .index {
    background-image: url("../../../public/assets/tablet/bg-pattern-header.svg");
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1300px) {
  .index {
    background-image: url("../../../public/assets/desktop/bg-pattern-header.svg");
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
  }
}
