.applylink {
      text-decoration: none;
      padding: 1.5rem;
      border-radius: 0.5rem;
      cursor: pointer;
      background: #5964E0;
      color: white;
      width: 188px;
      height: 4rem;
      text-align: center;
      &:hover {
            color: #5964E0;
            background: #C9C9C9;
      }
}