.input {
      padding: 0.5rem;
      border: none;
      outline: none;
      border-left: 1px solid grey;
      border-bottom: 1px solid grey;
      height: 2rem;
      border-radius: 0rem;
      appearance: none;
}