.jobtitle {
      display: grid;
      grid-gap: 2rem;
      padding: 2rem;
      align-items: center;
      border-radius: 0.5rem;
      margin-bottom: 2rem;
      width: 90vw;
      place-items: center;
      text-align: center;

      div {
            display: grid;
            grid-gap: 0.5rem;

            p {
                  color: #6E8098 
            }
      }
}

@media screen and (min-width: 700px) {
      .jobtitle {
                  grid-template-columns: 1fr auto;
                  justify-items: start;

                  h2 {
                        text-align: left;
                  }
      }
}