.index {
  background-image: url("../../public/assets/mobile/bg-pattern-header.svg");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  transition: background-color 0.5s linear;
}

@media screen and (min-width: 700px) {
  .index {
    background-image: url("../../public/assets/tablet/bg-pattern-header.svg");
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1300px) {
  .index {
    background-image: url("../../public/assets/desktop/bg-pattern-header.svg");
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
  }
}
